@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-box{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form-box label{
  font-size: 14px;
  color: #000000;
}

.form-box input{
  height: 40px;
  border-radius: 8px;
  border: 1px solid #979797;
  outline: none;
  padding: 0 16px;
  background: transparent;
  font-size: 14px;
  caret-color: #000000;
  color: #000000;
}

.form-box input:focus{
  border: 1px solid #007BFF;
}

.form-box input::placeholder{
  color: #828FA3;
}